# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = Agustín Morantes
	email = agustinmorantes@gmail.com
	signingkey = 52AC32AA0CD44EB0
[commit]
	gpgsign = false
[pull]
	ff = true
[init]
	defaultBranch = main
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
